@use "../../styles/viewports.scss" as *;

.container {
  width: 100%;

  display: flex;

  @include viewport-xs {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  flex-direction: column;

  margin-right: 20px;

  flex-shrink: 0;

  @include viewport-xs {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.button {
  font-size: 14px;
  text-align: left;
  padding: 15px 20px;

  background-color: transparent;

  border: none;
  border-left: 2px solid var(--ds-bg-accent);
  color: var(--ds-text-primary);

  @include viewport-xs {
    border: none;
    border-bottom: 2px solid var(--ds-bg-accent);
  }

  cursor: pointer;

  transition: color 0.35s ease-out, background-color 0.15s ease-out,
    border-color 0.35s ease-out;

  &:hover {
    background-color: var(--ds-bg-accent);
  }

  &.active {
    color: var(--ds-primary);
    border-color: var(--ds-primary);
  }
}

.tab-content-container {
  flex-grow: 1;
  transition: 0.15s;
}

.fade--entering {
  opacity: 0;
}

.fade--enter {
  opacity: 1;
}

.fade--exit {
  opacity: 0;
}
