.button {
  width: 100%;

  background-color: transparent;
  color: var(--ds-primary);

  border: 1px solid var(--ds-primary);
  border-radius: 4px;

  padding: 20px 28px;

  cursor: pointer;

  transition: background-color 0.15s ease-out;
  &:hover {
    background-color: rgba(var(--ds-primary-rgb), 0.2);
  }
}
