.container {
  max-width: 900px;
  width: 100%;

  min-height: 600px;
  margin-bottom: 40px;
}

.tab-container {
  font-size: 14px;

  h3 {
    color: var(--ds-text-accent);
    margin-top: 0;
    margin-bottom: 4px;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 22px;
  }

  h5 {
    color: var(--ds-text-accent);
  }
}
