@use "../../styles/viewports.scss" as *;

.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.content--blur {
  pointer-events: none;
  user-select: none;
  filter: blur(5px) brightness(0.7);
}

// Main

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  counter-reset: section;
  section {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-start;

    margin-top: 20px;

    h2 {
      display: flex;
      align-items: center;
      width: 100%;

      font-size: 24px;
      color: var(--ds-text-accent);
    }

    h2::before {
      counter-increment: section;
      content: "0" counter(section) ".";

      font-weight: normal;
      color: var(--ds-primary);

      margin-right: 8px;
    }

    h2::after {
      content: "";
      display: inline-block;
      flex-grow: 1;
      height: 1px;

      background-color: var(--ds-bg-accent);

      margin-left: 20px;
    }
  }

  // margins

  @include viewport-xs {
    padding: 0px 25px;
  }
  @include viewport-md {
    padding: 0px 50px;
  }
  @include viewport-xl {
    padding: 0px 150px;
  }
}

// Footer

.footer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

@each $position in ("right", "left") {
  .banner--#{$position} {
    @include viewport-xs {
      display: none;
    }
    @include viewport-md {
      display: none;
    }

    position: fixed;

    writing-mode: vertical-lr;
    @if $position == "right" {
      right: 40px;
    } @else if $position == "left" {
      left: 40px;
    }

    bottom: 0;
    z-index: 10;

    display: flex;
    align-items: center;

    &::after {
      content: "";
      display: block;
      height: 128px;
      width: 10px;

      background-color: var(--ds-bg-accent);

      margin-top: 20px;
    }
  }
}

.mobile-warning {
  display: none;
  @include viewport-xs {
    display: initial;
  }

  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--ds-shadow);

  dialog {
    display: initial;
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;

    background-color: var(--ds-bg-accent);
    color: var(--ds-text-accent);

    border-color: var(--ds-primary);

    width: 300px;
  }
}
