.badge {
  --base-color: #64ffda;

  font-size: x-small;
  @apply px-2;

  // height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--base-color);
  border-radius: 16px;

  // padding: 2px 8px;
  // font-weight: bold;

  background-color: transparent;
  color: var(--base-color);

  &:not(:last-child) {
    margin-right: 8px;
  }

  margin-bottom: 8px;
}
