section.container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  max-width: 700px;

  padding-top: 30px;

  hr {
    border-color: var(--ds-bg-accent);
  }

  h1 {
    font-size: 32px;
    color: var(--ds-text-accent);
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      flex-grow: 1;
      height: 1px;

      background-color: var(--ds-bg-accent);

      margin-left: 20px;
    }

    &::before {
      margin-left: 0;
      margin-right: 20px;
    }
  }
}
