.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  counter-reset: section;
  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;

    h2 {
      display: flex;
      align-items: center;
      width: 100%;

      font-size: 24px;
      color: var(--ds-text-accent);
    }

    h2::before {
      counter-increment: section;
      content: "0" counter(section) ".";

      font-weight: normal;
      color: var(--ds-primary);

      margin-right: 8px;
    }

    h2::after {
      content: "";
      display: inline-block;
      flex-grow: 1;
      height: 1px;

      background-color: var(--ds-bg-accent);

      margin-left: 20px;
    }
  }

  .home-section {
    justify-content: space-between;
  }
}

.title {
  color: var(--ds-text-accent);
}

.named-avatar {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.title,
.subtitle {
  margin: 0;
  line-height: 1;
}

.subtitle {
  color: var(--ds-text-primary);
  font-size: 46px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--ds-primary);
  border-radius: 128px;

  margin-right: 14px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;

  span {
    margin: 8px;
  }
}
