.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--ds-text-accent);
}

.named-avatar {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.title,
.subtitle {
  margin: 0;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--ds-primary);
  border-radius: 128px;

  margin-right: 14px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;

  span {
    margin: 8px;
  }
}
