html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// Colors

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --ds-bg-primary: #0a192f;
  --ds-bg-primary-rgb: #{hexToRGB(#0a192f)};
  --ds-bg-accent: #233554;
  --ds-bg-accent-rgb: #{hexToRGB(#233554)};
  --ds-primary: #64ffda;
  --ds-primary-rgb: #{hexToRGB(#64ffda)};
  --ds-text-accent: #ccd6f6;
  --ds-text-accent-rgb: #{hexToRGB(#ccd6f6)};
  --ds-text-primary: #8892b0;
  --ds-text-primary-rgb: #{hexToRGB(#8892b0)};
  --ds-secondary: #a8b2d1;
  --ds-secondary-rgb: #{hexToRGB(#a8b2d1)};
  --ds-shadow: rgba(2, 12, 27, 0.7);
}

:root {
  color: var(--ds-text-primary);

  background-color: var(--ds-bg-primary);
}

// Typography

:root {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 46px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 13px;
  }
}

.text-accent {
  color: var(--ds-text-accent);
}
